/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* regole header */
header{
   display: flex;
   width: 100%;
   height: 70px;
   background-color: coral;
   position: fixed;
   top: 0;
   z-index: 5;
} 

    header section{
    margin:0 15% ;
    align-content: center;
    justify-content: flex-start;
    /* debug */   
    /* background-color: aquamarine;
    min-height: 30px;  */
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    } 

li a{
    color: white;
    text-decoration: none;
}

section img{
 height: 30%;
}

#carrello{
    /* debug */
    height: 50px;
    background-color: black;
    width: 100px;
}

/* regole main */

main{
    display: flex;
    margin: 10% 15%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.box-product{
    width: calc(( 100% / 3) - 20px);
    min-height: 300px; 
    position: relative;  
    /* debug */
    /* background-color: blue;  */
} 

main img {
    max-width: 100%;
}

.img-h{
    display: none;
}

.box-product:hover .img-h{
    display: inline-block;
}

.box-product:hover img{
    display: none;
}



